body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #202731;
    --first-color: #3c31dd;
    --second-color: #dd3f31;
    --third-color: #ff0066;
    --fourth-color: #0f0f10;
    --fifth-color: #44a445;

}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.curve-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve-1 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 185px;
}

.curve-1 .shape-fill {
    fill: var(--fifth-color);
}

/** For mobile devices **/
@media (max-width: 767px) {
    .curve-1 svg {
        width: calc(149% + 1.3px);
        height: 87px;
    }
}

.curve-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve-2 svg {
    position: relative;
    display: block;
    width: calc(196% + 1.3px);
    height: 185px;
    transform: rotateY(180deg);
}

.curve-2 .shape-fill {
    fill: (var(--first-color));
}

/** For mobile devices **/
@media (max-width: 767px) {
    .curve-2 svg {
        width: calc(100% + 1.3px);
        height: 56px;
    }
}

.footer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('svg/layered-waves-haikei.svg');
}

.first {
    background: var(--third-color);
}

.second {
    background: var(--fourth-color);
}

.third {
    background: var(--fifth-color);
}

.forth {
    background: #0f0f10;
}