body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #202731;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;
    padding: 100px 20vw;
}

img {
    max-width: 500px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 35vw;
    padding: 0 20vw;
}
